style: /*Reset*/
* {
    margin: 0; /*margem do body zerada*/
    padding: 0;  /*espaço interno do body zerado*/

}

.cabecalho {
    background-color: rgb(127, 177, 235);
    /*cor de fundo*/
    display: flex; /*flexibilidade dos elementos da lista ul*/
    justify-content: space-between; /*espaços entre os elementos*/
    align-items: center; /*alinhamento vertical dos itens no centro*/
    height: 100px; /*altura da área do cabeçalho em 100 pixels*/
}
ul {
display:flex; /*flexibilidade dos elementos da lista ul*/
justify-content: space-between; /*espaços entre os elementos*/
}
.cabecalho-item-lista{
    padding: 15px; /*espaçamento interno de cada item de 15pixels;*/
    list-style-type: none; /*elimimano o ponto antes de cada item;*/

}

